$color: #0cf;

.theme__button {
  display: inline-block;
  padding: 0.45rem 0.95rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;

  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:enabled {
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color;
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken($color, 15%);
      transition: all 0.3s;
      border-radius: 10rem;
      z-index: -1;
    }

    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }
}
