@import "./Body/style.scss";
@import "./Header/style.scss";

.app {
  margin: 0;
  height: 100vh;
  overflow-y: scroll;

  &::-webkit-scrollbar,
  ::-webkit-scrollbar {
    width: 5px;
    height: 3px;
  }
  &::-webkit-scrollbar-button,
  ::-webkit-scrollbar-button {
    background-color: #aaa;
  }
  &::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track {
    background-color: #aaa;
  }
  &::-webkit-scrollbar-track-piece,
  ::-webkit-scrollbar-track-piece {
    background-color: #ddd;
  }
  &::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #aaa;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-corner {
    background-color: #aaa;
  }
  &::-webkit-resizer,
  ::-webkit-resizer {
    background-color: #aaa;
  }
}

$black-shade: 12;
$white-shade: 190;
$gray-shade: 60;

input {
  border-color: black;
  border-style: solid;
  border-width: 1px;

  &:focus-visible {
    outline-color: gray;
    outline-style: solid;
    outline-width: 1px;
  }
}

select {
  margin: 0;
  padding: 0;

  border-color: black;
  border-style: solid;
  border-width: 1px;

  $border-radius: 40px;
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 3pt 2pt gray;
  }
}

.app--night {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-darkshadow-color: #646464;

  &::-webkit-scrollbar-button,
  ::-webkit-scrollbar-button {
    background-color: #666;
  }
  &::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track {
    background-color: #666;
  }
  &::-webkit-scrollbar-track-piece,
  ::-webkit-scrollbar-track-piece {
    background-color: #222;
  }
  &::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-corner {
    background-color: #666;
  }
  &::-webkit-resizer,
  ::-webkit-resizer {
    background-color: #666;
  }

  background-color: rgb($black-shade, $black-shade, $black-shade);

  color: rgb($white-shade, $white-shade, $white-shade);

  scrollbar-color: black rgb($black-shade, $black-shade, $black-shade);

  input {
    background-color: rgb($black-shade, $black-shade, $black-shade);
    color: rgb($white-shade, $white-shade, $white-shade);

    border-color: rgb($gray-shade, $gray-shade, $gray-shade);

    &:focus-visible {
      outline-color: lightgray;
      outline-style: solid;
      outline-width: 1px;
    }
  }

  select {
    background-color: rgb($black-shade, $black-shade, $black-shade);
    color: rgb($white-shade, $white-shade, $white-shade);

    border-color: rgb($gray-shade, $gray-shade, $gray-shade);

    &:focus-visible {
      box-shadow: 0 0 3pt 2pt lightgray;
    }
  }
}
