@import "./openLocal/style.scss";

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app__central {
  display: flex;
  flex-direction: column;
}

.app__right {
  width: 250px;
}

.app__central__header h1 {
  color: #f1b534;
  font-size: 38px;
  text-align: center;
}

.app__central__header p {
  font-size: 16px;
  text-align: center;
}

.program__tool-bar {
  margin: 20px 0 20px 0;
}

.program-controller {
  display: flex;
  justify-content: space-evenly;
}

.program-controller__queries {
}

.program-controller__main {
  margin: 18px 0 0 0;
}
