name: Build
on:
  push:
    branches:
      - master
    tags-ignore:
      - "v*"
jobs:
  build_on_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@master
        with:
          node-version: 14
      - name: installing dependencies
        run: npm install
      - name: building js folder for electron-forge
        run: npm run build:prod
      - name: electron-forge make
        run: npm run make
  build_on_mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@master
        with:
          node-version: 14
      - name: installing dependencies
        run: npm install
      - name: building js folder for electron-forge
        run: npm run build:prod
      - name: electron-forge make
        run: npm run make
  build_on_win:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@master
        with:
          node-version: 14
      - name: installing dependencies
        run: npm install
      - name: building js folder for electron-forge
        run: npm run build:prod
      - name: electron-forge make
        run: npm run make
