name: Release
on:
  push:
    tags:
      - "v*"

jobs:
  publish_on_mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@master
        with:
          node-version: 14
      - name: install logic's dependencies
        run: cd logic && npm install
      - name: install view's dependencies
        run: cd view && npm install
      - name: install Kick-Botter's dependencies
        run: cd view/KickBotter && npm install
      - name: publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cd view && npm run forge:publish
